footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #e5e5e5;
  color: #999;
}

footer a {
  color: #777;
}

footer a:hover {
  color: #333;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
